* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.col{
    width: 50%;
    float: left;
}
label {
    display: block;
}